html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

#container-area {
  min-width: 310px;
  height: 600px;
}

.float-right {
  float: right;
  margin-right: 10px;
}

.price-up {
  color: #449D44;
  animation: fadein 2s;
}

.price-down {
  color: #C9302C;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.detail-symbol,
.current-price,
.chart-toggle {
  color: rgb(113, 114, 115);
}

.chart-toggle {
  margin-top: 1em;
}

li:hover {
  background-color: #f2f9fc;
}

li.selected {
  background-color: #c9e6f2;
  border-left: #428bca 4px solid;
}

#stock-filter {
  margin-bottom: 2em;
  margin-top: 4px;
}