<template name="stocks">

  <div class="row">
    <div class="col-xs-12">
      <select id="stock-filter" class="form-control">
        <option value="all">All</option>
        <option value="up">Trending Up</option>
        <option value="down">Trending Down</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        {{#each stocks}}
        <li class="stockListing list-group-item {{selected}}">{{symbol}} - {{name}}
          <button id="delete" class="float-right btn btn-danger btn-xs">delete</button>
          <div class="float-right {{cssPriceClass}}">{{price}}</div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
